*{
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}
body{
  background: #001e4d;
}
.app{

  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;

}
.app p{
  margin-bottom: 50px;
  font-size: 50px;
}
.app #underline{
  color: green;
margin-top: 10px;
}
.row{
background: #fff;
padding: 20px;
width: auto;
}
.row i{
  color: green;
}
.row input{
  background: transparent;
  border: 0px;
  width: auto;
  color: black;
}
